#news, #feeds, #tags {
    display: none;
}
.template {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

.loading-bar {
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    z-index: 100;
    display: none;
}

.brand {
    width: 120px;
    padding-bottom: 2px !important;
    padding-top: 2px !important;
}

.share img {
    margin-right: 10px;
    cursor: pointer;
}

/* Hide user dropdown until loaded. */
.dropdown.user {
    display: none;
}
#news > .search,
#feeds > .add {
    margin-bottom: 15px;
}

#news .sorting.well {
    padding: 5px;
}

#news .sort select,
#news .filter select {
    margin-bottom: 0;
}

.feed-logo {
    width: 64px;
    height: 64px;
}

.tags {
    margin: 0;
}

.tag {
    margin: 0 5px 0 0;
}

#news .entry .content {
    display: none;
}

#news .entry.maximized .content {
    display: block;
}

input[type="text"].input-low {
   height: 14px !important;
   font-size: 12px;
   line-height: 14px;
   margin: 0;
}

.entry.published .btn.publish { display: none; }
.entry .btn.unpublish { display: none; }
.entry.published .btn.unpublish { display: block; }

.entry-list, .feeds-list {
    margin: 0;
}
.entry-list .media,
.feeds-list .media {
    padding: 5px;
}

.media-subheader {
    font-size: 13px;
}


.tags-list .title-edit {
    display: none;
}
.tags-list .badge {
    margin: 10px 5px 0 5px;
}

.tags-list .feed-link {
    margin-top: 8px;
    margin-left: 10px;
    display: inline-block;
}