.pointer {
    cursor: pointer;
}

.brand {
    width: 120px;
    padding-bottom: 2px !important;
    padding-top: 2px !important;
}

.share img {
    margin-right: 10px;
    cursor: pointer;
}

/* Hide user dropdown until loaded. */
.dropdown.user {
    display: none;
}
#news > .search {
    margin-bottom: 15px;
}

#news .sorting.well {
    padding: 5px;
}

#news .sorting .nav {
    margin-bottom: 0;
}

.tags {
    margin: 0;
}

.tag {
    margin: 0 5px 0 0;
}

input[type="text"].input-low {
   height: 14px !important;
   font-size: 12px;
   line-height: 14px;
   margin: 0;
}

.entry-list {
    margin: 0;
}
.entry-list .media {
    padding: 5px;
}

.media-subheader {
    font-size: 13px;
}
