/**** Style for NewsControl ****/

/* General style
**********************************************************/
#news, #feeds, #tags, #all {
    display: none;
}

.navbar .nav .all {
    display: none;
}

.template {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

.loading-bar {
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    z-index: 100;
    display: none;
}

.brand {
    width: 120px;
    padding-bottom: 2px !important;
    padding-top: 2px !important;
}

.share {
    margin-top: 10px;
}
.share img {
    margin-right: 5px;
    height: 20px;
}

input[type="text"].input-low {
   height: 14px !important;
   font-size: 12px;
   line-height: 14px;
   margin: 0;
}

.entry-list, .feeds-list {
    margin: 0;
}

/* Hide user dropdown until loaded. */
.dropdown.user {
    display: none;
}

/* News page
**********************************************************/
#news > .search {
    margin-bottom: 15px;
}

#news .sorting.well {
    padding: 5px;
}

#news .sort select,
#news .filter select {
    margin-bottom: 0;
}

/* Feeds page
**********************************************************/
#feeds > .add {
    margin-bottom: 15px;
}

.feed .feed-logo {
    width: 64px;
    height: 64px;
}

/* Tags page
**********************************************************/
.tags-list .title-edit {
    display: none;
}
.tags-list .title {
    margin: 5px 0;
}
.tags-list .tag {
    margin: 0 6px 5px 0;
}
.tags-list .badge {
    margin: 5px 5px 0 5px;
}

.tags-list .feed-link {
    margin-top: 4px;
    margin-left: 10px;
    display: inline-block;
}


/* All page
**********************************************************/
#all .entry .publish,
#all .entry .unpublish,
#all .entry .tags {
    display: none;
}

/* Entry
**********************************************************/
.entry {
    border-radius: 5px;
    margin-top: 0;
    padding: 5px 5px 5px 10px;
}
.entry .tags {
    margin: 0;
}

.entry .tag {
    margin: 0 5px 0 0;
}

.entry.published,
.entry.published.maximized {
    background-color: rgba(0, 255, 0, 0.2);
}

.entry .feed-logo {
    width: 20px;
    height: 20px;
}

.entry .title {
    font-size: 15px;
    margin-bottom: 0;
}
.entry .feed-logo,
.entry .title {
    padding-top: 5px;
}

.entry .title .caret {
    margin-top: 7px;
    margin-left: 7px;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    content: "";
}
.entry.maximized .title .caret {
    margin-top: 10px;
    margin-left: 5px;
    
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.entry .media-body {
    margin-left: 0;
}

.entry .media-subheader,
.entry .tags,
.entry .content,
.entry .share {
    display: none;
}

.entry .media-subheader {
    font-size: 13px;
}

.entry.maximized .media-subheader,
.entry.maximized .tags,
.entry.maximized .content,
.entry.maximized .share {
    display: block;
}
.entry.maximized .content {
    background-color: #FFF;
}

.entry .tags .tag .remove-tag {
    opacity: 0.4;
    padding-left: 3px;
}
.entry .tags .tag .remove-tag:hover {
    opacity: 1;
}

.entry.published .btn.publish,
.entry .btn.unpublish {
    display: none;
}
.entry.published .btn.unpublish {
    display: block;
}
